<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="/styles/screen.css">
    <!-- Link to Alpine.js -->
    <script src="//unpkg.com/alpinejs"></script>
</head>
<body>
    {{ content }}
</body>
</html>